.image {
  &-card {
    width: calc(33% - 1rem);
    margin: .5rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    background: #fff;

    @media only screen and (max-width: 799px) {
      width: calc(50% - 1rem);
    }

    @media only screen and (max-width: 549px) {
      width: 100%;
      margin: .5rem 0;
    }

    &__image {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    &__body {
      padding: .5rem 1rem 1rem;
    }
  }
  &-title {
    font-weight: bold;
    margin: 0;
  }

  &-owner {
    margin-top: 0;
    font-size: .8rem;
  }

  &-title,
  &-owner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-date-view-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-date,
  &-views {
    margin-bottom: 0;
    font-size: .8rem;
  }
}
