@keyframes skeleton-glow {
  from {
    border-color: rgba(206,217,224,.2);
    background: rgba(206,217,224,.2);
  }
  to {
    border-color: rgba(92,112,128,.2);
    background: rgba(92,112,128,.2);
  }
}
